.example-form {
    min-width: 350px;
    max-width: 900px;
    width: 100%;
    margin-left: 13%;
  }
  
.example-full-width {
    width: 100%;
    margin-top: 25px;
    opacity:0.96;
  }
  
.label{
    margin-left: 82%;
    margin-top: 25px;
    
  }

.title{
    margin-left: 78%;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
  }

.back{
    background-color: #ccdb38;
    padding: 10px;
    height: 300px;
  }

#btn{
    color:#ccdb38;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 88%;
}
#btn:hover{
    opacity: 0.9;
    box-shadow: 0 0 5px #717a1e;
    cursor: pointer;
}